body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	text-align: center;
    background: #F7F5F5 url(img/paper.jpg) repeat;
	font-family: "Helvetica", "Corbel", "Arial", sans-serif;
	color: black;
}
input {
	border: 1px solid grey;
	height: 20px;
	line-height: 20px;
}
a, a:visited {
	color: #00F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#page-header {
	background-color: #b00;
	clear: both;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 16pt;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
#content-container {
	margin-top: 62px;
}
#app-title {
	color: #fff;
}
#page-title {
	color: #ddd;
}
#page-header-inner {
	padding-left: 20px;
}
#photos, #stream-name {
	margin: auto;
}
#nav-links {
	margin-bottom: 1em;
}
#nav-divider {
	display: none;
}
#prev-link, #next-link {
	display: none;
}
#create {
	margin-top: 5px;
}
#streams ul {
	padding-left: 0;
}

div.photo, div.large-photo, #streams li {
	list-style: none;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	padding: 15px 15px 12px 15px;
	display: inline-block;
	background-color: #fff;
	margin: 10px;
}
#large-photo-container {
	padding: 15px 5px;
}
#large-photo {
	max-width: 95%;
}
div.button {
	font-weight: bold;
	font-size: 1.2em;
	padding: 25px 0 25px 0;
	margin: 20px 10px;
	border: 1px solid #aaa;
	background-color: #ddd;
}
img.mobile-logo {
	margin-top: 5px;
}
div.text {
	margin-bottom: 3px;
}
div.loading {
	margin-top: 3px;
}
#upsell {
	display: none;
	height: 100%;
	width: 100%;
}
#upload {
	height: 100%;
	width: 100%;
}
#scrollbox {
	display: none;
	position: relative;
	width: 100%;
	z-index: -1;
}
#start-stream-header {
	display: none;
}
#footer {
	clear: both;
	padding: 20px 0 30px 0;
	text-align: center;
}
table, tr, td {
	width: 100%;
	text-align: center;
}