body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	text-align: center;
    background: #F7F5F5 url(img/paper.jpg) repeat;
	font-family: "Helvetica", "Corbel", "Arial", sans-serif;
	color: black;
}
#page-header {
	clear: both;
	color: #111;
	height: 50px;
	line-height: 50px;
	font-size: 18pt;
	margin-bottom: -8px;
	width: 100%;
}
#page-header-inner {
	padding-left: 20px;
}
#photos, #stream-name {
	margin: auto;
}
#page-title {
	color: #666;
}
div.photo {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	padding: 15px 15px 12px 15px;
	display: inline-block;
	background-color: #fff;
	margin: 10px;
}
div.button {
	font-size: 1.2em;
	padding: 10px;
	margin: 20px 10px;
	border: 1px solid #444;
	border-radius: 5px;
	background-color: #888;
}
img.mobile-logo {
	margin-top: 8px;
}
div.text {
	font-size: 1.2em;
	padding: 5px;
	margin: 5px 10px;
}
#upsell {
	display: none;
	height: 100%;
	width: 100%;
}
#upload {
	height: 100%;
	width: 100%;
}
#large-photo-container {
	font-size: 16pt;
	margin: 10px auto;
	width: 400px;
}
#large-photo {
	max-width: 95%;
}
table, tr, td {
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}